@model Hola_Resort.ViewModel.VMregister

    
    @{
        ViewBag.Title = "Register";
        Layout = null;
    }
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            @using (Html.BeginForm("Register", "User", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-outline mb-4">
                                    @Html.LabelFor(model => model.FullName, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control form-control-lg", id = "form3Example1cg" })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.LabelFor(model => model.Username, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg", id = "form3Example1cg" })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-outline mb-4">
                                    @Html.LabelFor(model => model.Email, "Email", new { @class = "form-label" })

                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg", id = "form3Example3cg" })


                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-outline mb-4">
                                    @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg", id = "form3Example4cg" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-outline mb-4">
                                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "form-label" })

                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control form-control-lg", id = "form3Example4cdg" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "form-label" })

                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-control-lg", id = "form3Example4cdg" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.LabelFor(model => model.DayofBirt, "Date Of Birth", new { @class = "form-label" })
                                    <br />
                                    <select class="form-select form-select-lg" id="day" name="day">
                                        <option value="">Ngày</option>
                                        @for (int i = 1; i <= 31; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <select class="form-select form-select-lg" id="month" name="month">
                                        <option value="">Tháng</option>
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <select class="form-select form-select-lg" id="year" name="year">
                                        <option value="">Năm</option>
                                        @for (int i = DateTime.Now.Year; i >= 1900; i--)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <br />
                                    @Html.ValidationMessageFor(model => model.DayofBirt, "", new { @class = "text-danger" })
                                </div>


                                <div class="form-outline mb-4">
                                    @Html.LabelFor(model => model.Address, new { @class = "form-label" })

                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control form-control-lg", id = "form3Example4cdg" })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.LabelFor(model => model.Gender, new { @class = "form-label" })

                                    @Html.DropDownListFor(model => model.Gender, new SelectList(new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "Male", Value = "M" },
                                        new SelectListItem { Text = "Female", Value = "F" }
                                    }, "Value", "Text"), new { @class = "form-control form-control-lg", id = "form3Example2cg" })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>






                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Register
                                    </button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a href="~/" class="fw-bold text-body"><u>Login here</u></a>
                                </p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #84fab0;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #84fab0;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
</style>