@model IEnumerable<Hola_Resort.Models.Room>

@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .BG {
        background-image: url('../../content/img/bg.jpg');
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.8;
    }
</style>


<div class="BG row justify-content-center">
    <h2 style="text-align: center; padding-top:50px; color:aqua">List This Rooms </h2>
    @foreach (var item in Model)
    {
        <section style=" margin-bottom: 50px; width: 40%; " class="">
            <div class="container py-3">
                <div class="row d-inline-block">
                    <a href="~/Room/Details/@item.RoomId">
                        <div class="col-3" style="padding-left:60px">
                            <div class="card text-black" style="height: 600px; width: 450px; ">
                                <div style="">
                                    <div>
                                        <img style=" padding: 20px 20px 0px 20px " src="@item.RoomType.Image"
                                             class="card-img-top" alt="@item.RoomType.RoomTypeName" />
                                    </div>
                                    <div style=" padding-top: 15%;; font-size: 120% " class="card-body">

                                        <div>
                                            <div>
                                                <p style="display: inline-block">Room: @item.RoomNumber</p>
                                                <p style="display: inline-block; float:right">Bed: @item.RoomType.Bed</p>

                                            </div>
                                            <div>
                                                <p style="display: inline-block">Kind of room: @item.Description</p>
                                                <p style="display: inline-block; float:right">Capacity: @item.RoomType.Capacity</p>

                                            </div>


                                            <div>
                                                @if (@item.RoomStatus == true)
                                                {<p style="display: inline-block; ">Status: Room available</p>}
                                                else
                                                { <p style="display: inline-block; color:red "><strong>Status: Out of room</strong></p>}
                                                <p style="display: inline-block; float:right">Price: @item.RoomType.PriceDay</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-top:25px; text-align:center">
                                        @if (@item.RoomStatus == true)
                                        {
                                            <a href="~/BookingRoom/BookingDetails/@item.RoomId">
                                                <button class="btn btn-outline-info " type="button">
                                                    Booking
                                                </button>
                                            </a>
                                        }

                                        else
                                        {
                                            <button type="button" disabled class="btn btn-outline-danger " type="text">
                                                Out of room
                                            </button>
                                        }

                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

    }
</div>