@model Hola_Resort.Models.GuestInformation

@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHI TIẾT KHÁCH VÃNG LAI</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            CCCD/Hộ chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GuestId }) |
    @Html.ActionLink("Back to List", "ListGuest")
</p>
