@model Hola_Resort.ViewModel.BookingDetailsViewModel

@{
    ViewBag.Title = "BookingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>

<h2 style="text-align:center;">Booking Details</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Room Details</h4>
            <hr />
            <div class="form-group">
                <label>Room Type:</label>
                <p>@Model.RoomTypeName</p>
            </div>
            <div class="form-group">
                <label>Capacity:</label>
                <p>@Model.Capacity</p>
            </div>
            <div class="form-group">
                <label>Price per Day:</label>
                <p>@Model.PriceDay</p>
            </div>
            <div class="form-group">
                <label>Room Number:</label>
                <p>@Model.RoomNumber</p>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <p>@Model.Description</p>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Booking Information</h4>
            <hr />
            @using (Html.BeginForm("BookingDetails", "BookingRoom", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="NumberOfAdults">Adults:</label>
                    <input type="number" id="NumberOfAdults" name="NumberOfAdults" placeholder="2" min="1" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="NumberOfChildrens">Children:</label>
                    <input type="number" id="NumberOfChildrens" name="NumberOfChildrens" placeholder="2" min="0" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="CheckInDate">Check-in Date:</label>
                    <input type="date" id="CheckInDate" name="CheckInDate" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="CheckOutDate">Check-out Date:</label>
                    <input type="date" id="CheckOutDate" name="CheckOutDate" class="form-control" required>
                </div>
                <hr />
                <h2>Guest Information</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="NationalId">National ID:</label>
                            <input type="text" id="NationalId" name="NationalId" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber">Phone Number:</label>
                            <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Name:</label>
                            <input type="text" id="Name" name="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="email" id="Email" name="Email" class="form-control">
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.RoomId)
                @Html.HiddenFor(m => m.RoomTypeId)
                @Html.HiddenFor(m => m.TotalPrice)
                @Html.HiddenFor(m => m.RoomTypeName)
                @Html.HiddenFor(m => m.Capacity)
                @Html.HiddenFor(m => m.PriceDay)
                @Html.HiddenFor(m => m.RoomNumber)
                @Html.HiddenFor(m => m.Description)
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

<style>
    .BG {
        background-image: url('../../content/img/bg.jpg');
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.8;
    }
</style>
